
/* --- Tipografies medievals (Google Fonts) --- */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=IM+Fell+English&display=swap');


/* --- Estils generals --- */
body {
margin: 0;
padding: 0;
background-color: #f4f0e6; /* Paper vell */
color: #2a1a0f; /* Tinta fosca */
font-family: 'IM Fell English', serif;
line-height: 1.6;
}

body {
    background-image: url("pergamino.jpg");
    background-size: cover;
    background-position: center 100px;
}


/* --- Capçalera --- */
header {
    background: linear-gradient(#5a3b1e, #3b2614);
    color: #f7e7c4;
    padding: 30px 20px;
    border-bottom: 6px solid #8c633a;
    font-family: 'Uncial Antiqua', cursive;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 2px;

    /* Nou per col·locar logo + títol */
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo {
    width: 60px;
    height: auto;
    margin-right: 15px;
    vertical-align: middle;
}

/* --- Navegació --- */
nav {
background-color: #3b2614;
display: flex;
justify-content: center;
gap: 25px;
padding: 12px;
border-bottom: 4px solid #8c633a;
}


nav a {
color: #f7e7c4;
text-decoration: none;
font-size: 18px;
padding: 8px 12px;
border-radius: 5px;
transition: 0.3s;
font-family: 'IM Fell English', serif;
}


nav a:hover {
background-color: #8c6b53;
}

nav a.active{
    text-decoration: underline;
    font-weight: bold;
}


/* --- Seccions --- */
section {
max-width: 900px;
margin: auto;
padding: 30px 20px;
}


h2 {
font-family: 'Uncial Antiqua', cursive;
font-size: 2rem;
border-bottom: 2px solid #8c633a;
padding-bottom: 6px;
margin-bottom: 15px;
}


p, li {
font-size: 18px;
}


/* --- Contenidor tipus pergamí --- */
.parchment {
background: #f7e7c4;
padding: 25px;
border: 2px solid #d2b48c;
border-radius: 8px;
box-shadow: 0 0 20px rgba(0,0,0,0.25) inset;
}

/*---Linia del Temps---*/
.timeline {
    border-left: 4px solid #8c633a;
    margin: 30px auto;
    padding-left: 25px;
    max-width: 800px;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}



.timeline .date {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 1.4rem;
    color: #3b2614;
    display: block;
    margin-bottom: 6px;
};



/* --- Peu de pàgina --- */
footer {
background-color: #3b2614;
color: #f7e7c4;
text-align: center;
padding: 50px;
margin-top: 40px;
font-size: 16px;
}